doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&display=swap" rel="stylesheet")
  body
    div(class='container')
      div(class='content-box')
        block menu
          ul(class='nav')
            li
              a(href='/') Home
            li
              a(href='/chocolates') Browse all chocolates
            li
              a(href='/origins') Browse by origins
            li
              a(href='/categories') Browse by categories
            br
            li
              a(href='/chocolate/create') Add chocolate
            li
              a(href='/origin/create') Add origin

        div(class='content-display')
          block content
