extends layout 

block content
  h1 #{title}

  form(method = 'POST' action = '')
    label(for = 'country') Country:
    input#country(type = 'text', placeholder = 'Sernona' name = 'country' value = (undefined === origin? '' : origin.country))
    label(for = 'plantation') Plantation Name:
    input#plantation(type = 'text', placeholder = 'Ergatria' name = 'plantation' value = (undefined === origin? '' : origin.plantation))
    button(type = 'submit') Add

  if errors
    ul
      for error in errors
        li != error.msg